body, html, .container-fluid {
     font-family: 'Karla', sans-serif;
     height: 100%;
}

.row {
  height: 100px;
}

a {
    color: #e38cb7;
}

a:hover,
a:focus {
    color: #d6619c;
}

.huge {
  color: #e38cb7;
}

.huge:hover,
.huge:focus {
    color: #d6619c;
}

h1 {
    font-size: 200px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-left: 3.0rem;
    margin-top: 2.5rem;
    margin-bottom: 12.0rem;
}

header {
    text-align: left;
    color: #FFF;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
}

.img-holder {
    height: 0;
    padding-left: 33%;
    padding-top: 10%;
    padding-bottom: 33%;
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 20rem;
}
