body, html{
     width: 100%;
     height: 100%;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/crowdstrike.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

h1 {
    // color: #000000;
    color: #ffffff;
    font-size: 200px;
    font-weight: 500;
    letter-spacing: -1px;
}

.container {
  padding-top: 25px;
  padding-bottom: 100px;
}
